.input1{
				width: 85%;
				height: 9%;
				
			}
			#home{
				border: 1px solid black;
				width: 30%;
				height: 50%;
				position: relative;
				background-color: darkgray;
				margin: auto;
				//margin-top:10%;
				//float: right;
				color:white;
				//background-color:#602b1d82;
			}
			#child{
				//border: 1px solid black;
				width: 80%;
				height: 80%;
				position: absolute;
				top:45;
				left:88;
			}
			#input2{
				width: 85%;
			}
			#input3{
				 margin-left: 33%;
				 height:10%;
			}
			#div1{
				height:10%;
				width:100%;
				//background-color: #8F8F8F;
				//color:w;
				background-color: darkgray;
				color:black;
				//background-color:#602b1d82;
			}
			li{
				list-style:none;
				float:left;
				margin-right: 50;
				width:85px;
				font-size:20px;
				height: 36;
				padding-left: 22;
				padding-top:10;
				padding-right: 13;
				color:black;
				
			}
			ul{
				margin:0;
				position: absolute;
				top:35;
				
			}
			
			li:hover{
				background-color:white;
				color:black;
			}
			p{
				font-size:25px;
				//color:white;
			}
			h1{
				//color:white;
			}
			h4{
				//color:white;
			}
			#logo{
				height:90px;
				width:90px;
				position: absolute;
				right:0;
				border-radius:50px;
				top:3px;
				
			}
			body{
				margin:0;
				background-image:url("istockphoto-1311934969-612x612.jpg");
				background-repeat :no-repeat;
				background-size:100%;
				background-attachment: fixed;
			}
			#para1{
				margin:0;
				position: absolute;
				top: 9;
				right: 106px;
				font-size: 60px;
				font-family: 'Dancing Script', cursive;
				
			}
			#div2{
				width:50%;
				text-align:center;
				//border:1px solid black;
				margin:auto;
			}
