body{
	margin:0;
}
#div1{
	height:60px;
	width:100%;
	background-color: #012031db;
	border: 1px solid black;
	
}
.link-li{
	/* border: 1px solid black; */
	list-style:none;
	height: 60%;
	margin-top: 10%; 
	margin-left:4%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 6px;
	font-size: 20px;
	

}
#head1{
	margin-left: 183px;
}
#head3{
	margin-left: 183px;
}
#para3{
	margin-left: 183px;
}
#unorder2{margin-left: 158px;}
a{
	text-decoration: none;
	color:black;
}
#unorder1{
	margin:0;
	position: absolute;
	height:9%;
	/* border:1px solid black; */
	display: flex;
	width: 60%;
	
}

.link-li:hover{
	background-color:#012031db; 
	color:white;
	border-radius: 10px;
}
a:hover{
	color:white;
}

#logo{
	height:60px;
	width:60px;
	position: absolute;
	right:0;
	border-radius:50px;
	/* top:3px; */
}
#para1{
	margin:0;
	position: absolute;
	/* top: 9; */
	right: 70px;
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
}
#center{
	height: 500px;
	width: 70%;
	margin: auto;
	position: relative;
}
#pbutton{
	width:6%;
	height:10%;
	position:absolute;
	top:47%;
	border: none;
	background-color: rgba(0,0,0,0.1);
	font-size: 35px;
	color: white;

}
#nbutton{
	width:6%;
	height: 10%;
	position:absolute;
	right:0;
	top:47%;
	border: none;
	background-color: rgba(0,0,0,0.1);
	font-size: 35px;
	color: white;
}
  #child1{
	width:40%;
	height: 50%;
	overflow: hidden;
	float: left;
	margin-left: 5%;
	/* border: 1px solid black;
	box-sizing: border-box; */
  }
  #child2{
	width:40%;
	height: 50%;
	overflow: hidden;
	float: left;
	margin-left: 5%;
	/* border: 1px solid black;
	box-sizing: border-box; */
}
.aboutimg{
	width: 503px;
	height: 300px;
	
}
.aboutimg:hover{
	transform:scale(1.1);
	transition:1s;
}
#head2{
	text-align: center;
}
  