#div1 {
  height: 60px;
  width: 100%;
  background-color: #012031db;
  border: 1px solid black;
}

.link-li {
  /* border: 1px solid black; */
  list-style: none;
  height: 60%;
  margin-top: 10%;
  margin-left: 4%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 6px;
  font-size: 20px;
}

#logo {
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  border-radius: 50px;
  /* top:3px; */
}

#para1 {
  margin: 0;
  position: absolute;
  /* top: 9; */
  right: 70px;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}

#unorder1 {
  margin: 0;
  position: absolute;
  height: 9%;
  /* border:1px solid black; */
  display: flex;
  width: 60%;
}

.link-li:hover {
  background-color: #012031db;
  color: white;
  border-radius: 10px;
}

a:hover {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.img-add {
  width: 350px;
  height: 350px;
  border: 1px solid #012031db;
  float: left;
  margin-left: 100px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.foodimg {
  width: 80%;
  height: 70%;
  margin-left: 10%;
  margin-top: 5%;
}

#addmenu {
  width: 80%;
  margin: auto;
  height: 910px;
}

#button-div {
  margin-top: 3%;
  position: relative;
}

.para2 {
  width: 15px;
  /* border: none; */
  position: absolute;
  left: 115px;
}

.para1 {
  width: 12%;
  margin: 0;
  position: absolute;
  left: 10%;
  top: 2px;
  color: #012031db;
}

.button2 {
  margin-left: 41%;
  background-color: #012031db;
}

.button1 {
  position: absolute;
  background-color: #012031db;
  left: 25%;
}

.button3 {
  margin-left: 5%;
  background-color: #012031db;
}

h2 {
  margin: 0;
  margin-left: 8%;
  color: #012031db;
}
