#div1 {
    height: 60px;
    width: 100%;
    background-color: white;
}

#unorder1 {
    margin: 0;
    position: absolute;
    height: 9%;
    display: flex;
    width: 60%;

}

.link-li {

    list-style: none;
    height: 60%;
    margin-top: 10%;
    margin-left: 4%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    font-size: 20px;
}

.link-li:hover {
    background-color: #012031db;
    color: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

#logo {
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    border-radius: 50px;
}

#para1 {
    margin: 0;
    position: absolute;
    right: 70px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

#div2 {
    width: 30%;
    /* margin: auto; */
    background-color: white;
    height: 415px;
    margin-top: 5%;
    padding-top: 2%;
    margin-left: 18%;
    float: left;
    /* border: 1px solid black; */
}

#div3 {
    width: 30%;
    /* margin: auto; */
    background-color: white;
    height: 415px;
    margin-top: 5%;
    padding-top: 2%;
    float: left;
    padding-left: 2%;
}

.value {
    height: 30px;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

#para {
    margin-left: 20%;
    margin-top: 5%;
}

.radiobox {
    margin: 0;

}

#child {
    margin-left: 19%;
    margin-top: 3%;
}

#button {
    margin-left: 20%;
    height: 30px;
    width: 62%;
    margin-top: 5%;
    background-color: #012031db;

}

#msg {
    margin-left: 20%;
    margin-top: 5%;

}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

body {
    background-image: url("../assets/img/istockphoto-1311934969-170667a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 750px;
}

#address {
    /* border: 1px solid black; */
    position: relative;
}

#phn {
    /* border: 1px solid black; */
    position: relative;
}

#email {
    /* border: 1px solid black; */
    position: relative;
}

h4 {
    position: absolute;
    margin: 0;
    width: 21%;
    top: 23%;
    left: 11%;
}

.icon {
    width: 3%;
    height: 3%;
    border-radius: 70px;
}
