#header{
	height:10%;
	width:100%;
	background-color: #8F8F8F;
	
	//border:1px solid black;
}
body{
	margin:0;
	background-image:url("background-image.jpg");
	//background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	
	
}
li{
	list-style:none;
	float:left;
	margin-right: 50;
	width:85px;
	font-size:20px;
	height: 36;
	padding-left: 22;
	padding-top:10;
	padding-right: 13;
	color: black;
	
	
}
.div1{
	//border:1px solid black;
	width:30%;
	float:left;
	margin-left:2%;
	//padding-left:2%;
	position:relative;
	
}

ul{
	margin:0;
	position: absolute;
	top:35;
	
}

li:hover{
	background-color:white;
	color:black;
}
#para1{
	margin:0;
	position: absolute;
	top: 15px;
	right: 106px;
	font-size: 60px;
	font-family: 'Dancing Script', cursive;
}
#logo{
	height:90px;
	width:90px;
	position: absolute;
	right:0;
	border-radius:50px;
	top:3px;
}

#home{
	//border:1px solid black;
	width:100%;
	height:80%;
	//margin-top:10%;
	
	
}
.menu-head{
	margin-left:25%;
}
h2{
	margin-left:25%;
	//color:white;
}
.para{
	margin-left:25%;
	color:white;
}
#head{
	margin-top:3%; 
	text-align:center;
	font-size: 40px;
}
button{
	//border: 1px solid black;
	top: 80%;
	position: absolute;
	left: 38%;
	width: 25%;
	font-size: 20;
	height: 7%;
	
}
#menu-div{
	padding-left:3%;
}












			
			
			
			
			
			
			
