body {
    margin: 0;
}

#div1 {
    height: 61px;
    width: 100%;
    background-color: #012031db;

}
#food-items{
    width: 80%;
    margin: auto;
    height: 910px;
}
.food-div {
    width: 350px;
    height: 350px;
    background-color:#01203112;
    box-shadow: 0 0 10px;
    float: left;
    margin-left: 100px;
    margin-top: 70px;
}
li {
    /* border: 1px solid black; */
    list-style: none;
    height: 60%;
    margin-top: 1%;
    margin-left: 4%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    font-size: 20px;
   
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    position: absolute;
    height: 9%;
    /* border:1px solid black; */
    display: flex;
    width: 60%;

}

li:hover {
    background-color: #012031db;
    color: white;
   border-radius: 10px;
}

a:hover {
    color: white;
}
#home-page{
    background-image: url("../img/1611445018839.jpg");
}
#logo {
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    border-radius: 50px;
    /* top:3px; */
}

#para1 {
    margin: 0;
    position: absolute;
    /* top: 9; */
    right: -25px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.img-add {
    width: 350px;
    height: 350px;
    background-color:#01203112;
    box-shadow: 0 0 10px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}

#home {
    width: 80%;
    margin: auto;
    height: 910px;

}

#addmenu {
    width: 80%;
    margin: auto;
    height: 910px;

}

#head2 {
    position: absolute;
    top: 96%;
    margin-left: 8%;
    color: #012031db;
}

#head1 {
    margin-left: 10%;
    margin-top: 5%;
    color: #012031db;
}

#img-div3 {
    margin-top: 100px;
}

#img-div4 {
    margin-top: 100px;
}

.foodimg {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 5%;

}

p {
    width: 15%;
    float: left;
    margin-left: 10%;
}

button {
    margin-top: 4%;
    margin-left: 5%;
    background-color: #012031db;
    color: white;
}

h2 {
    margin: 0;
    margin-left: 8%;
}

#cart {
    width: 50px;
    position: absolute;
    border-radius: 60px;
    left: 0;
}